#values-test.yaml
namespace: test

postgres:
  replicas: 1
  image:
    repository: "postgres"
    tag: "14"
  releaseName: "postgres-test"

postgresConfig:
  db: "myappdb"
  user: "appuser"
  password: "apppassword"

storage:
  size: "5Gi"
  storageClassName: "gp2-immediate"

imagePullSecrets:
  name: "nexus-credentials"